body {
    font-family: Arial, sans-serif;
    text-align: center;
    /*color: lightgreen;*/
}

#board {
    display: grid;
    grid-template-columns: repeat(4, 80px);
    gap: 10px;
    justify-content: center;
    margin: 20px auto;
}

.card {
    width: 80px;
    height: 80px;
    background-color: #444;
    color: white;
    font-size: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
}

.card.flipped {
    background-color: #eee;
    color: black;
}

.card.matched {
    background-color: lightgreen;
    cursor: default;
}

#restartBtn {
    padding: 5px;
}
